<section id="about" class="beautiful">
    <div class="container">
        <div class="row beautiful__row">
            <div class="col-lg-6 col-md-6 col-sm-12 d-sm-flex justify-content-sm-center align-items-sm-center">
                <img src="images/phones.png" alt="phones" class="beautiful__img">
            </div>

            <div class="col lg-5 col-md-5 col-sm-12">
                <div class="beautiful__descr">
                    <h3 class="beautiful__subtitle subtitle">dip into the details</h3>
                    <h2 class="beautiful__title title">Beautiful on every device</h2>
                    <div class="line beautiful__line">
                        <div class="line__sub"></div>
                        <div class="line__sub"></div>
                    </div>
                    <p class="beautiful__text text">
                        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed <span>non</span> mauris vitae erat consequat auctor eu in elit.
                    </p>

                    <div class="beautiful__advantages">
                        <div class="beautiful__item">
                            <img src="images/cup.png" alt="cup" class="beautiful__icon">
                            <span class="beautiful__advantage">Awesome design</span>
                        </div>

                        <div class="beautiful__item">
                            <img src="images/mouse.png" alt="mouse" class="beautiful__icon">
                            <span class="beautiful__advantage">Fully responsive</span>
                        </div>

                        <div class="beautiful__item">
                            <img src="images/energy.png" alt="energy" class="beautiful__icon">
                            <span class="beautiful__advantage">Retina ready</span>
                        </div>

                        <div class="beautiful__item">
                            <img src="images/speedometer.png" alt="speedometer" class="beautiful__icon">
                            <span class="beautiful__advantage">Tons of features and easy to use</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>