<div class="contacts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="contacts__subtitle subtitle">stay in touch</h3>
            </div>

            <div class="col-lg-12">
                <h2 class="contacts__title title">Contact us</h2>
            </div>
        </div>

        <div class="row contacts__items">
            <div class="col-lg-2 offset-lg-1">
                <div class="contacts__item">
                    <img src="images/contact-1.png" alt="phone" class="contacts__icon">
                    <div class="contacts__contact">
                        Phone: <a class="contacts__link" href="tel:4151245678">(415) 124-5678</a>
                        Fax: <a class="contacts__link" href="fax:4121238290">(412) 123-8290</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1">
                <div class="contacts__item">
                    <img src="images/contact-2.png" alt="geo" class="contacts__icon">
                    <address class="contacts__contact">
                        1001 Brickell Bay Dr.
                        Suite 1900 
                        Miami, FL 33131
                    </address>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="contacts__item">
                    <img src="images/contact-3.png" alt="message" class="contacts__icon">
                    <div class="contacts__contact">
                        <a class="contacts__link" href="mailto:support@yourname.com">support@yourname.com</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <form action="" class="form">
                    <div class="form__inputs">
                        <input placeholder="NAME*" type="text" class="form__input">
                        <input placeholder="EMAIL*" type="text" class="form__input">
                        <input placeholder="SUBJECT*" type="text" class="form__input">
                    </div>

                    <div>
                        <textarea class="form__message" placeholder="MESSAGE*"></textarea>
                        <input type="submit" class="form__btn button" value="SEND MESSAGE">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>