<section class="easy">
    <div class="container">
        <div class="row easy__row">
            <div class="col-lg-5 col-md-5">
                <div class="easy__descr">
                    <h3 class="easy__subtitle subtitle">dip into the details</h3>
                    <h2 class="easy__title title">Super easy to customize</h2>
                    <div class="line easy__line">
                        <div class="line__sub"></div>
                        <div class="line__sub"></div>
                    </div>
                    <div class="easy__text text">
                        Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed <span>non</span> mauris vitae erat consequat auctor eu in elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.
                    </div>
                </div>
            </div>

            <div class="col-lg-7 col-md-7 d-flex justify-content-center">
                <img src="images/phone.png" alt="phone" class="easy__img">
            </div>
        </div>
    </div>
</section>