<section id="features" class="features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="features__subtitle subtitle">product overview</h3>
                <h2 class="features__title title">List of amazing features</h2>
                <div class="features__line line">
                    <div class="line__sub"></div>
                    <div class="line__sub"></div>
                </div>
            </div>
        </div>

        <div class="row features__items">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features__item">
                    <div class="features__icon features__icon-first"><img src="images/features-1.png" alt="display" class="features__img"></div>
                    <span class="features__feature">Responsive</span>
                    <div class="features__descr text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features__item">
                    <div class="features__icon"><img src="images/features-2.png" alt="customize" class="features__img"></div>
                    <span class="features__feature">Customizable</span>
                    <div class="features__descr text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features__item">
                    <div class="features__icon"><img src="images/features-3.png" alt="design" class="features__img"></div>
                    <span class="features__feature">Lovely design</span>
                    <div class="features__descr text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="features__item">
                    <div class="features__icon features__icon-last"><img src="images/features-4.png" alt="mobile" class="features__img"></div>
                    <span class="features__feature">Mobile Friendly</span>
                    <div class="features__descr text">
                        Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum lacinia consectetur.
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>