<header class="header">
    <div class="container">
        <div class="row header__top">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <img src="images/logo.png" alt="logo" class="header__logo">
            </div>

            <div class="col-lg-5 col-md-5 col-sm-5">
                <nav class="header__menu">

                    <ul class="header__items">
                        <li class="header__item">
                            <a class="header__link" href="#">Home</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#features">Features</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#about">About</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#testimonials">Testimonials</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#pricing">Pricing</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                        <li class="header__item">
                            <a class="header__link" href="#contact">Contact</a>
                            <div class="line header__line">
                                <div class="line__sub"></div>
                                <div class="line__sub"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
        <div class="row header__down">
            <div class="col-lg-6 col-md-6">
                <div class="header__info">
                    <h3 class="subtitle header__subtitle">introducing lucid theme</h3>
                    <h1 class="header__title">Carefully crafted and beautiful landing page.</h1>
                    <p class="text header__text">
                        Etiam ullamcorper et turpis eget hendrerit. Praesent varius risus mi, at elementum magna ultricies accumsan. Cras venenatis lacus sed dolor placerat tempus. Morbi blandit at neque ut imperdiet.
                    </p>
                    <div class="header__btns">
                        <a href="#" class="button">download now</a>
                        <a href="#" class="header__btn button">view features</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-md-5 d-flex justify-content-center">
                <img src="images/header-phones.png" alt="phones" class="header__img">
            </div>
        </div>
    </div>
</header>