<section id="pricing" class="price">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="price__subtitle subtitle">quality has its price</h3>
                <h2 class="price__title title">Pricings & Plans</h2>
                <div class="line price__line">
                    <div class="line__sub"></div>
                    <div class="line__sub"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="price__plans">
                    <div class="price__plan">
                        <h4 class="price__name">Free</h4>
                        <div class="price__money">
                            <div><sup>$</sup>0</div>
                            <span>/per month</span>
                        </div>
                        <div class="price__order">
                            <div class="price__text text">
                                Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.
                            </div>
                            <a href="#" class="price__btn button">order now</a>
                        </div>
                    </div>
                    
                    <div class="price__plan">
                        <h4 class="price__name">Personal</h4>
                        <div class="price__money">
                            <div><sup>$</sup>25</div>
                            <span>/per month</span></div>
                        <div class="price__order">
                            <div class="price__text text">
                                Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.
                            </div>
                            <a href="#" class="price__btn button">order now</a>
                        </div>
                    </div>

                    <div class="price__plan">
                        <h4 class="price__name">Business</h4>
                        <div class="price__money">
                            <div><sup>$</sup>50</div>
                            <span>/per month</span></div>
                        <div class="price__order">
                            <div class="price__text text">
                                Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.
                            </div>
                            <a href="#" class="price__btn button">order now</a>
                        </div>
                    </div>

                    <div class="price__plan">
                        <h4 class="price__name">Ultimate</h4>
                        <div class="price__money">
                            <div><sup>$</sup>99</div>
                            <span>/per month</span></div>
                        <div class="price__order">
                            <div class="price__text text">
                                Fusce fermentum placerat magna ac pharetra. Aliquam euismod elit non ipsum <a href="#">lacinia</a> consectetur.
                            </div>
                            <a href="#" class="price__btn button">order now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>