<section id="testimonials" class="reviews">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h3 class="reviews__subtitle subtitle">quality has its price</h3>
            </div>

            <div class="col-lg-12">
                <h2 class="reviews__title title">Pricings & Plans</h2>
            </div>

            <div class="line reviews__line">
                <div class="line__sub"></div>
                <div class="line__sub"></div>
            </div>

            <div class="col-lg-12">
                <div class="reviews__slider">
                    <div class="reviews__item">
                        <div class="reviews__review">
                            <div class="reviews__text">
                                Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-1.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">John Doe</span>
                                    <span class="reviews__profession">CEO, THE RIVERS COMPANY</span>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__review">
                            <div class="reviews__text">
                                A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-2.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">Dean Winchester.</span>
                                    <span class="reviews__profession">UX DESIGNER, GOOGLE INC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__item">
                        <div class="reviews__review">
                            <div class="reviews__text">
                                Repellendus, ipsa facilis magni impedit fugiat explicabo cupiditate facere corporis inventore quaerat ut. Voluptatem dolorem quo officiis expedita totam ut! Cumque aliquid quidem voluptatem qui alias aut nisi maiores asperiores!
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-1.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">John Doe</span>
                                    <span class="reviews__profession">CEO, THE RIVERS COMPANY</span>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__review">
                            <div class="reviews__text">
                               Praesentium aliquid porro provident quo, aperiam illum vero nulla? Exercitationem odit, libero repudiandae, eligendi accusantium earum quas consectetur tempore praesentium dolores quisquam, beatae culpa consequatur commodi porro ut nostrum architecto.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-2.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">Dean Winchester.</span>
                                    <span class="reviews__profession">UX DESIGNER, GOOGLE INC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__item">
                        <div class="reviews__review">
                            <div class="reviews__text">
                                Once upon a time all the Rivers combined to protest against the action of the Sea in making their waters salt. “When we come to you,” said they to the Sea.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-1.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">John Doe</span>
                                    <span class="reviews__profession">CEO, THE RIVERS COMPANY</span>
                                </div>
                            </div>
                        </div>

                        <div class="reviews__review">
                            <div class="reviews__text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam aliquid, dolore repudiandae animi eos perferendis cum pariatur magnam dolor. Et soluta eum mollitia itaque aspernatur, praesentium excepturi maiores sed facere?
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-2.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">Dean Winchester.</span>
                                    <span class="reviews__profession">UX DESIGNER, GOOGLE INC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="reviews__item">
                        <div class="reviews__review">
                            <div class="reviews__text">
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum commodi eos perferendis porro temporibus sequi repellat culpa dolores mollitia eveniet consequuntur nostrum non, autem, ea tempore, neque architecto reiciendis laudantium.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-2.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">John Doe</span>
                                    <span class="reviews__profession">CEO, THE RIVERS COMPANY</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="reviews__review">
                            <div class="reviews__text">
                                A shoe is not only a design, but it's a part of your body language, the way you walk. The way you're going to move is quite dictated by your shoes.
                            </div>
                            <div class="reviews__people">
                                <img src="images/reviews-logo-1.png" alt="logo" class="reviews__photo">
                                <div class="reviews__bio">
                                    <span class="reviews__name">Dean Winchester.</span>
                                    <span class="reviews__profession">UX DESIGNER, GOOGLE INC</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>