.beautiful{

    &__row{
        margin-bottom: 20px;
    }

    &__img{
        margin-top: 61px;
        padding-left: 20px;
    }

    &__title{
        margin-top: 10px;
    }

    &__line{
        margin-right: auto;
        margin-top: 26px;
    }

    &__descr{
        margin-top: 111px;
    }

    &__text{
        width: 470px;
        margin-top: 25px;
        line-height: 26px;

        span{
            padding-right: 5px;
        }
    }

    &__advantages{
        margin-top: 30px;
    }

    &__advantage{
        font-size: 18px;
        font-weight: 400;
        text-transform: none;
        letter-spacing: normal;
        color: #1b1b1b;
    }

    &__icon{
        padding-right: 9px;

        &[alt = "mouse"]{
            padding-left: 2px;
            padding-right: 13px;
        }

        &[alt = "energy"]{
            padding-left: 2px;
            padding-right: 12px;
        }
        
    }

    &__item{
        &:not(:first-child){
            margin-top: 9px;
        }

        display: flex;
        align-items: center;
    }
}