.download{
    height: 170px;
    background-color: $black;
    display: flex;
    align-items: center;

    &__content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title{
        margin-top: 4px;
        font-weight: 600;
        color: #ffffff;
        span{
            font-weight: 300;
        }
    }

    &__btns{
        display: flex;
        align-items: center;
        justify-content: flex-end;

        .header__btn{
            margin-left: 0px;
            margin-right: 21px;
        }
    }
}