.easy{
    background-color: #f2f2f2;

    &__descr{
        margin-top: 130px;
    }

    &__line{
        margin-top: 28px;
    }

    &__text{
        margin-top: 22px;
        line-height: 26px;
        width: 468px;

        span{
            padding-right: 5px;
        }
    }

    &__img{
        margin-top: 32px;
        margin-bottom: 20px;
        padding-right: 11px;
    }
}