.footer{
    height: 160px;
    background-color: #15141a;
    display: flex;
    align-items: center;

    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__icons{
        margin-top: -13px;
        display: flex;
        align-items: center;
    }

    &__icon{
        line-height: 70px;
        font-size: 18px;
        color: rgba($color: #fff, $alpha: 0.2);

        &:hover{
            transition: all ease-in 0.4s;
            color: $blue;
        }
    }

    &__link{
        &:not(:last-child){
            margin-right: 37px;
        }

        &:first-child{
            margin-right: 31px;
        }

        &:nth-child(2){
            margin-right: 32px;
        }

        &:nth-child(3){
            margin-right: 34px;
        }

        &:last-child{
            margin-top: 2px;
        }
    }

    &__copyright{
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        color: #444348;
    }
}