.header{
    background: url('../images/header-bg.jpg') no-repeat;
    background-position: bottom center;
    background-size: cover;
    padding-top: 42px;

    &__items{
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
    }

    &__logo{
        padding-bottom: 9px;
    }

    .navbar{
        padding: 0;
    }

    .nav-link{
        padding: 0;
    }

    .navbar-brand{
        padding: 0;
    }

    &__line{
        opacity: 0;
        width: 100%;
        margin-top: 7px;

        .line__sub{
            width: calc(50% - 1px);
        }
    }

    &__link{
        font-size: 16px;
        font-weight: 600;
        color: #fffefe;
        &:hover{
            text-decoration: none;
            color: #ffffff;
        }

        &:hover + .header__line{
            transition: all ease-in-out 0.4s;
            opacity: 1;
        }
    }

    &__item{
        &:not(:last-child){
            margin-right: 23.6px;
        }

        display: flex;
        flex-direction: column;
    }

    &__down{
        display: flex;
        justify-content: space-between;
    }

    &__img{
        margin-top: 51px;
        padding-right: 8px;
    }

    &__title{
        font-size: 48px;
        margin-top: 19px;
        line-height: 49px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: normal;
        color: #ffffff;
    }

    &__info{
        margin-top: 90px;
    }

    &__text{
        width: 480px;
        margin-top: 23px;
        line-height: 26px;
    }

    &__btn{
        margin-left: 20px;
        background-color: rgba(0,142,214,0.0);
        border: 1px solid rgba(255,255,255,0.2);

        @include hover-btn-noneBG;
    }

    &__btns{
        margin-top: 60px;
        display: flex;
    }
}