.price{
    &__subtitle{
        text-align: center;
        margin-top: 57px;
    }

    &__title{
        margin-top: 10px;
        text-align: center;
    }

    &__line{
        margin: 0 auto;
        margin-top: 28px;
    }

    &__plans{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 71px;
        margin-bottom: 60px;
    }

    &__plan{
        width: 272.5px;
        border: 1px solid #dddddd;

        &:hover{
            .price__btn, .price__money{
                transition: all ease-in-out 0.4s;
                background-color: $blue;
                color: #fff;
            }

            .price__money{
                span{
                    transition: all ease-in-out 0.4s;
                    color: #fff;
                }
            }
        }
    }

    &__name{
        height: 70px;
        padding-top: 2px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        color: #1a1a1a;
        text-align: center;
        border-bottom: 1px solid #e0e0e0;
    }

    &__money{
        padding-right: 7px;
        padding-top: 11px;
        height: 142px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #e0e0e0;
        font-size: 60px;
        font-weight: 600;
        color: #1a1a1a;
        line-height: 21px;
        span{
            padding-left: 4px;
            font-size: 18px;
            font-weight: 400;
            color: #999999;
            line-height: 28px;
            margin-top: 20px;
        }
        sup{
            font-size: 28px;
            vertical-align: 0.2em;
        }
    }

    &__order{
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__text{
        text-align: center;
        width: 197px;
        margin-top: 16px;
        line-height: 26px;

        span{
            color: $blue;
        }
    }

    &__btn{
        margin-top: 40px;
        background-color: #ffffff;
        border: 1px solid #e0e0e0;
        color: $blue;
    }
}